In [2]:
from bs4 import BeautifulSoup
import requests
import json
import uuid
import os.path

url = r"http://www.ksl.com/auto/search/index?keyword=&make%5B%5D=Toyota&model%5B%5D=Camry&yearFrom=&yearTo=&mileageFrom=&mileageTo=&priceFrom=&priceTo=&zip=&miles=25&newUsed%5B%5D=All&page=0&sellerType=&postedTime=&titleType=&body=&transmission=&cylinders=&liters=&fuel=&drive=&numberDoors=&exteriorCondition=&interiorCondition=&cx_navSource=hp_search&search.x=21&search.y=15&search=Search+raquo%3B"
cars_list = []
html = requests.get(url).text
soup = BeautifulSoup(html, 'html5lib')

car_divs = soup.find_all('div', {'class': 'srp-listing-body-right'})
for car in car_divs:
    cars_list.append(
        {
            'title': car.find('div', {'class': 'srp-listing-title'}).find('a').text.strip(),
            'price': car.find('div', {'class': 'srp-listing-price'}).text.strip(),
            'location-and-miles': car.find('div', {'class': 'srp-listing-city'}).text.strip()
        }
    )
    
cars_list

[{'location-and-miles': '28,289 Miles | Erda, UT | document.write(ts_to_age_min(1460402926));',
  'price': '$17,895',
  'title': '2015 Toyota Camry XSE'},
 {'location-and-miles': '201,211 Miles | Provo, UT | document.write(ts_to_age_min(1460402333));',
  'price': '$2,300',
  'title': '2005 Toyota Camry LE'},
 {'location-and-miles': '155,271 Miles | salt lake city, UT | document.write(ts_to_age_min(1460401753));',
  'price': '$2,900',
  'title': '2001 Toyota Camry LE'},
 {'location-and-miles': '21,542 Miles | Sandy, UT | document.write(ts_to_age_min(1460400653));',
  'price': '$20,071',
  'title': '2016 Toyota Camry LE'},
 {'location-and-miles': 'St. George, UT | document.write(ts_to_age_min(1460400194));',
  'price': '$23,107 | MSRP $24,607',
  'title': '2016 Toyota Camry LE'},
 {'location-and-miles': '134,000 Miles | Murray, UT | document.write(ts_to_age_min(1460399857));',
  'price': '$5,485',
  'title': '2007 Toyota Camry LE'},
 {'location-and-miles': '13,238 Miles | Lehi, UT | document.write(ts_to_age_min(1460394341));',
  'price': '$17,495',
  'title': '2015 Toyota Camry SE'},
 {'location-and-miles': '31,767 Miles | Boise, ID | document.write(ts_to_age_min(1460393590));',
  'price': '$16,999',
  'title': '2013 Toyota Camry'},
 {'location-and-miles': '194,608 Miles | Provo, UT | document.write(ts_to_age_min(1460392989));',
  'price': '$2,800',
  'title': '2000 Toyota Camry CE'},
 {'location-and-miles': '228,086 Miles | Lindon, UT | document.write(ts_to_age_min(1460392775));',
  'price': '$111,111',
  'title': '2000 Toyota Camry LE'},
 {'location-and-miles': '113,439 Miles | Murray, UT | document.write(ts_to_age_min(1460391533));',
  'price': '$7,995',
  'title': '2009 Toyota Camry LE'},
 {'location-and-miles': '10 Miles | Draper, UT | document.write(ts_to_age_min(1460390585));',
  'price': 'MSRP $24,799',
  'title': '2016 Toyota Camry LE'},
 {'location-and-miles': '46,337 Miles | Draper, UT | document.write(ts_to_age_min(1460390570));',
  'price': '$11,990',
  'title': '2009 Toyota Camry'},
 {'location-and-miles': '38,902 Miles | Draper, UT | document.write(ts_to_age_min(1460390570));',
  'price': '$17,700',
  'title': '2015 Toyota Camry'},
 {'location-and-miles': '10 Miles | Draper, UT | document.write(ts_to_age_min(1460390560));',
  'price': 'MSRP $25,772',
  'title': '2016 Toyota Camry SE'},
 {'location-and-miles': '36,286 Miles | Draper, UT | document.write(ts_to_age_min(1460390554));',
  'price': '$17,800',
  'title': '2015 Toyota Camry'},
 {'location-and-miles': '36,241 Miles | Draper, UT | document.write(ts_to_age_min(1460390548));',
  'price': '$17,800',
  'title': '2015 Toyota Camry'},
 {'location-and-miles': '79,000 Miles | Eagle Mountain, UT | document.write(ts_to_age_min(1460390365));',
  'price': '$8,900',
  'title': '2010 Toyota Camry SE'}]

In [26]:
from pandas import DataFrame
import pandas as pd

df = DataFrame(cars_list)

prices = df["price"]

prices

0                    $17,895
1                     $2,300
2                     $2,900
3                    $20,071
4     $23,107 | MSRP $24,607
5                     $5,485
6                    $17,495
7                    $16,999
8                     $2,800
9                   $111,111
10                    $7,995
11              MSRP $24,799
12                   $11,990
13                   $17,700
14              MSRP $25,772
15                   $17,800
16                   $17,800
17                    $8,900
Name: price, dtype: object

In [27]:
sample_price = prices[4]
sample_price = sample_price.replace("MSRP", "").strip()
sample_price = sample_price.split()[0].strip()
sample_price = int(sample_price.replace("$", "").replace(",", ""))

def clean_price(price):
    new_price = price.replace("MSRP", "").strip()
    new_price = new_price.split()[0].strip()
    new_price = int(new_price.replace("$", "").replace(",", ""))
    return new_price

df["price"] = df["price"].apply(clean_price)

df["price"]

df

,location-and-miles,price,title
0,"28,289 Miles | Erda, UT | document.write(ts_to...",17895,2015 Toyota Camry XSE
1,"201,211 Miles | Provo, UT | document.write(ts_...",2300,2005 Toyota Camry LE
2,"155,271 Miles | salt lake city, UT | document....",2900,2001 Toyota Camry LE
3,"21,542 Miles | Sandy, UT | document.write(ts_t...",20071,2016 Toyota Camry LE
4,"St. George, UT | document.write(ts_to_age_min(...",23107,2016 Toyota Camry LE
5,"134,000 Miles | Murray, UT | document.write(ts...",5485,2007 Toyota Camry LE
6,"13,238 Miles | Lehi, UT | document.write(ts_to...",17495,2015 Toyota Camry SE
7,"31,767 Miles | Boise, ID | document.write(ts_t...",16999,2013 Toyota Camry
8,"194,608 Miles | Provo, UT | document.write(ts_...",2800,2000 Toyota Camry CE
9,"228,086 Miles | Lindon, UT | document.write(ts...",111111,2000 Toyota Camry LE
10,"113,439 Miles | Murray, UT | document.write(ts...",7995,2009 Toyota Camry LE
11,"10 Miles | Draper, UT | document.write(ts_to_a...",24799,2016 Toyota Camry LE
12,"46,337 Miles | Draper, UT | document.write(ts_...",11990,2009 Toyota Camry
13,"38,902 Miles | Draper, UT | document.write(ts_...",17700,2015 Toyota Camry
14,"10 Miles | Draper, UT | document.write(ts_to_a...",25772,2016 Toyota Camry SE
15,"36,286 Miles | Draper, UT | document.write(ts_...",17800,2015 Toyota Camry
16,"36,241 Miles | Draper, UT | document.write(ts_...",17800,2015 Toyota Camry
17,"79,000 Miles | Eagle Mountain, UT | document.w...",8900,2010 Toyota Camry SE

In [30]:
df.to_csv("cars.csv")